<mat-toolbar >
  <mat-toolbar-row  class="layout-Menu">
    <span> {{"app.divulgaPROEX"| translate}}</span>
    <div>
      <button mat-button>{{'app.home' | translate }}</button>
    </div>
    <div fxLayout="row" fxLayoutAlign = "none center">
      <button mat-button>{{ 'app.meet.extention' | translate }}</button>
    </div>
    <div fxLayout="row" fxLayoutAlign = "none center">
      <button mat-button>{{ 'app.contact' | translate }}</button>
    </div>
    <div fxLayout="row" class="button-registed">
      <div  fxLayout="row" class= "button-login">
        <button mat-raised-button> {{'app.login' | translate }}</button>
      </div>
      <div  fxLayout="row" class= "button-register">
        <button mat-raised-button> {{'app.register' | translate }}</button>
      </div>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<router-outlet></router-outlet>


